.card {
  background: white;
  border-radius: 8px;
  padding: 1rem;
}

.card-body--header {
  display: flex;
  align-items: center;
}
.card-title {
  margin: 0;
  margin-left: 0.25rem;
}

.task_item--checked {
  text-decoration: line-through;
}

.priority {
  font-size: 0.8rem;
  background-color: gray;
  border: none;
  border-radius: 8px;
  display: inline-block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.priority-low {
  color: rgb(0, 119, 0);
  background-color: rgba(0, 255, 0, 0.25);
}

.priority-medium {
  color: rgb(0, 0, 255);
  background-color: rgba(0, 0, 253, 0.25);
}

.priority-high {
  color: rgb(169, 0, 0);
  background-color: rgb(255, 0, 0, 0.25);
}

.subtask-section {
  margin-bottom: 1.25rem;
}
