.modal {
  display: flex;
  flex-direction: column;
}

.modal-header {
  margin-left: auto;
  width: fit-content;
}

.modal-body {
  height: 432px;
  padding: 1rem;
  padding-top: 0;
}

.title {
  margin-right: 0.75rem;
}

.modal-body__main {
  height: 85%;
  overflow: scroll;
}

.modal-body__footer {
  margin-top: 2rem;
  text-align: end;
}
