.modal-header {
  height: 10%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0;
}

.modal-body {
  height: 90%;
  padding: 1rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-body__main {
  height: 85%;
  overflow: scroll;
}
