.modal {
  display: flex;
  flex-direction: column;
}

.modal-header {
  margin-left: auto;
  width: fit-content;
}

.modal-body {
  height: 432px;
  padding: 1rem;
  padding-top: 0;
}

.title {
  margin-right: 0.75rem;
}

.modal-body__main {
  height: 352px;
  overflow: scroll;
  background: #f8f8f8;
  padding: 1rem;
  border-radius: 8px;
}

.modal-body__footer {
  margin-top: 1rem;
  text-align: end;
}
